@model IEnumerable<Projet_Covoiturage.Models.Trajet>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VilleDepart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VilleDestination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Distance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateDepart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HeureArrivee)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VilleDepart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VilleDestination)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Distance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateDepart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HeureArrivee)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Reservation","Reservation",new { iditem=item,Iduser=User.Identity.Name})
        </td>
    </tr>
}
</table>
