@model Projet_Covoiturage.Models.ViewModel.FilteTrajet

@{
    ViewBag.Title = "vos trajet possible";
}
<div class="form-group">
    @Html.LabelFor(model => model.Arriver, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Arriver, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Arriver, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Depard, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Depard, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Depard, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Index" class="btn btn-default" />
    </div>
</div>
<div>
    @Html.Partial("Indexfiltre", Model)
</div>
  