@model Projet_Covoiturage.Models.ChauffeurInfoViewModel


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Chauffeur</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vehicule.Modele)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehicule.Modele)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vehicule.NombrePlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehicule.NombrePlace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vehicule.DateMiseEnRoute)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehicule.DateMiseEnRoute)
        </dd>

        @foreach (var currentTrajet in Model.Trajets)
        {
            <dt>
                @Html.DisplayNameFor(model => currentTrajet.DateDepart)
            </dt>

            <dd>
                @Html.DisplayFor(model => currentTrajet.DateDepart)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => currentTrajet.HeureArrivee)
            </dt>

            <dd>
                @Html.DisplayFor(model => currentTrajet.HeureArrivee)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => currentTrajet.VilleDepart)
            </dt>

            <dd>
                @Html.DisplayFor(model => currentTrajet.VilleDepart)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => currentTrajet.VilleDestination)
            </dt>

            <dd>
                @Html.DisplayFor(model => currentTrajet.VilleDestination)
            </dd>
        }


        <dt>
            @Html.DisplayNameFor(model => model.Ponctualite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ponctualite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Securite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Securite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fiabilite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fiabilite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Confort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Confort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Courtoisie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Courtoisie)
        </dd>

    </dl>
</div>
